@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}

.title {
  padding: 1px;
  background-color: #0095ff;
  text-align: center;
}

.title h3 {
  color: #333;
}

.advisory {
  margin: 0.5em;
  background-color: #eee;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.advisory .overview {
  box-shadow: inset 0px 0px 4px #888;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  cursor: pointer;
}

.advisory .arrow {
  display: inline;
  text-align: right;
}

.advisories ul {
  list-style: none;
  margin: 0.5em;
  padding: 1px;
}

.advisories ul li {
  margin: 0.5em;
}

.advisories ul li:before {
  margin: 0.5em;
  content: "⚠️";
}
